{
    "org": {
        "name": "ORG_NAME",
        "url": "ORG_URL",
        "prefix": "ORG_PREFIX"
    },
    "github": {
        "token": "GITHUB_TOKEN",
        "url": {
            "repos": "GITHUB_REPOS_URL",
            "issues": "GITHUB_ISSUES_URL",
            "template": "GITHUB_TEMPLATE_URL"
        }
    },
    "separator": {
        "repo": "REPO_SEPARATOR",
        "topic": "TOPIC_SEPARATOR"
    }
}
